<template>
  <div class="jumbotron">
    <div class="container descripcionMenu">
      <h1 class="display-3">Bienvenido a Guerra!</h1>
      <p>Elija una de las opciones para comenzar</p>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data() {
    return {};
  },
  mounted() {},
  methods: {}
};
</script>
<style>
@media (max-width: 576px) {
  .descripcionMenu .display-3 {
    font-size: 28px;
  }
  .descripcionMenu p {
    font-size: 14px;
  }
}
.jumbotron {
  display: flex;
  text-align: center;
  background-color: #0072dd !important;
}
.descripcionMenu p,
.descripcionMenu h1 {
  color: white;
}
.descripcionMenu p {
  margin-left: 10px;
}
</style>