<template>
  <div class="item columna">
    <h2>{{titulo}}</h2>
    <p>{{descripcion}}</p>
    <router-link
            :to="{path: ruta}"
            class="button btn btn-primary btn-lg btn-block"
          >{{descBoton}}</router-link>
  </div>
</template>

<script>
export default {
  props: ["titulo","descripcion","descBoton","ruta"],
  data() {
    return {};
  },
  mounted() {
  },
  methods: {}
};
</script>
<style>
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #0072dd;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 230px;
  align-items: center;
}
.item p {
  max-width: 550px;
  text-align: center;
}

.item .button {
  width: 200px;
  margin: 5px;
}
</style>