<template>
  <div class="contenedorMenuResponsive">
    <router-link
      :to="{path: ruta}"
      class="button btn btn-primary btn-lg btn-block"
    >Personajes</router-link>
    <router-link to="/menutorneo" class="button btn btn-primary btn-lg btn-block">Torneo</router-link>
    <router-link to="/attacks" v-if="loggedIn && isAdmin" class="button btn btn-primary btn-lg btn-block">Ataques</router-link>
  </div>
</template>

<script>
export default {
  props: ["ruta"],
  data() {
    return {};
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    }
  },
  mounted() {},
  methods: {}
};
</script>
<style>
@media (max-width: 576px) {
  .contenedorMenuResponsive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contenedorMenuResponsive a {
    width: 200px;
    margin-bottom: 20px !important;
  }
}

@media (min-width: 577px) {
  .contenedorMenuResponsive {
    display: none;
  }
}
</style>