<template>
	<div>
		<div>
			<div v-if="modo =='new'">
				<input class="form-control" type="text" placeholder="Nombre" v-model="characterName" required />	
			</div>
			<div v-if="modo =='edit'">
				<input class="form-control" type="text" placeholder="Nombre" :value="nombre" required disabled />	
			</div>
        
        <label for="vida">Rol de personaje</label>
        <div class="selectInput" v-if="modo == 'new'">
          <select v-model="id_tipo_personaje" @change="onChange($event)" :disabled="modo =='edit'" required>
            <option v-for="ct in characterTypes" :value="ct.id_tipo_personaje" :key="ct.id_tipo_personaje">{{ ct.descripcion_tipo_personaje }}</option>
          </select>
        </div>
		<div v-if="modo == 'edit'">
			<input class="form-control" type="text" placeholder="Nombre" :value="tipoPersonaje" required disabled />
		</div>

        <div class="supercaja">
          <div class="caja">

            <div class="inputFields">
              <label for="vida">Vida</label>
              <input class="form-control" type="text" placeholder="Vida" v-model="characterFields.vida" disabled/>
            </div>

            <div>
              <label for="energia">Energia</label>
              <input
                class="form-control"
                type="text"
                name="Energia"
                placeholder="Energia"
                v-model="characterFields.energia"
                disabled
              />
            </div>
          </div>
          <div class="caja">
            <div class="inputFields">
              <label for="defensa">Defensa</label>
              <input
                class="form-control"
                type="text"
                name="Defensa"
                placeholder="Defensa"
                v-model="characterFields.defensa"
                disabled
              />
            </div>
            <div class="inputFields">
              <label for="evasion">Evasion</label>
              <input
                class="form-control"
                type="text"
                name="Evasion"
                placeholder="Evasion"
                v-model="characterFields.evasion"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
	</div>
</template>

<script>
	export default {
		name: 'BasicInformation',
		props: ['nombre','characterFields','characterTypes','idTipoPersonaje','modo'],
		data(){
			return {
				levels: [],
				id_tipo_personaje: this.idTipoPersonaje,
				characterName: this.nombre,
				tipoPersonaje: ''

			}
		},
		mounted(){
			if ((this.modo == 'edit')&&(this.id_tipo_personaje != 0))
			{
			var type = this.characterTypes.find(t => t.id_tipo_personaje == this.idTipoPersonaje);
			this.tipoPersonaje = type.descripcion_tipo_personaje;
			}
			this.getAllLevels()
		},
		methods: {
			getAllLevels(){
				this.$store
					.dispatch("getLevels")
					.then(res => {
						this.levels = res;
					})
					.catch(err => {
						this.$router.push({
							name: "Error",
							params: { mensaje: err.response.data }
						});
					});
			},
			onChange(event) {
				this.id_tipo_personaje = event.target.value;
				var type = this.characterTypes.find(
					type => type.id_tipo_personaje == event.target.value
				);
				var level = this.levels.find(level => level.nro_nivel == 1);
				this.characterFields.vida = level.puntos_totales * type.porcentaje_vida;
				this.characterFields.energia =
				level.puntos_totales * type.porcentaje_energia;
				this.characterFields.defensa =
				level.puntos_totales * type.porcentaje_defensa;
				this.characterFields.evasion =
				level.puntos_totales * type.porcentaje_evasion;
				this.$parent.id_tipo_personaje = this.id_tipo_personaje;
				this.$parent.nombre = this.characterName;
			},
		}
	};
</script>

<style>
	
</style>