<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <router-link to="/" class="navbar-brand">Guerra!</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item" v-if="!loggedIn">
            <router-link to="login" class="nav-link">Login</router-link>
          </li>
          <li class="nav-item" v-if="!loggedIn">
            <router-link to="register" class="nav-link">Registro</router-link>
          </li>
          
          <li v-if="loggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Perfil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link :to="{path: '/my-characters/' + usuario.id_usuario}" class="dropdown-item">Personajes</router-link>
              <!-- <a class="dropdown-item" href="#">Another action</a> -->
              <div class="dropdown-divider"></div>
              <router-link to="logout" class="dropdown-item">Salir</router-link>
            </div>
          </li>
          <li class="nav-item" v-if="loggedIn && isAdmin">
            <router-link to="/attacks" class="nav-link">Ataques</router-link>
          </li>

        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  },
  data(){
    return {
      usuario: {}
    }
  },
  computed: {
    loggedIn(){
      return this.$store.getters.loggedIn
    },
    isAdmin(){
      return this.$store.getters.isAdmin
    }
  },
  created(){
    this.$store.dispatch('getUser')
      .then(res => {
        this.usuario = res;
      })
    }
}
</script>

<style lang="scss">

</style>
