<template>
  <div class="form-signin text-center">
    <h1 class="text-center">Ingrese a Guerra!</h1>
    <form v-on:submit="login" class="formulario">
      <input
        class="form-control"
        type="text"
        name="User"
        placeholder="Nombre usuario"
        v-model="user"
      />
      <input
        class="form-control"
        type="password"
        name="Pass"
        placeholder="Contraseña"
        v-model="password"
      />
      <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      user: "",
      password: ""
    };
  },
  mounted() {},
  methods: {
    login: function(e) {
      e.preventDefault();
      this.$store
        .dispatch("retrieveToken", {
          usuario: this.user,
          password: this.password
        })
        .then(() => {
          this.$router.push({ path: "/" });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    }
  }
};
</script>

<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.formulario input:first-child {
  margin-bottom: 20px;
}
</style>