<template>
  <div></div>
</template>

<script>
export default {
  created() {
    this.$store
      .dispatch("destroyToken")
      .then(() => {
        this.$router.push({ path: "/login" });
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  }
};
</script>