<template>
  <div class="container">
    <h1 class="error">Error</h1>
    <div class="mensaje">
      <h2>{{mensaje}}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "MensajeError",
  props: ["mensaje"],
  data() {
    return {};
  },
  mounted() {
    var x = document.getElementsByClassName("modal-backdrop fade show");
    document.body.classList.remove("modal-open");
    if (x.length > 0) x[0].remove();
    if (this.mensaje === undefined) {
      this.$router.push({ name: "Menu" });
    }
  }
};
</script>

<style>
.error {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  color: red;
}
.mensaje {
  text-align: center;
  border: 1px solid black;
  padding: 60px 0;
  color: red;
}
</style>