<template>
  <div class="container">
    <div class="jumbotron">Hola {{ usuario.nombre }}</div>
  </div>
</template>

<script>
export default {
  name: "Profile",
  data() {
    return {
      usuario: {}
    };
  },
  created() {
    this.$store
      .dispatch("getUser")
      .then(res => {
        this.usuario = res;
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  }
};
</script>

<style>
</style>