<template>
  <div class="container">
    <form method="post" @submit.prevent="register">
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          v-model="user.usuario"
        />
      </div>
      <div class="form-group">
        <label for="usuario">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          v-model="user.password"
        />
      </div>
      <div class="form-group">
        <label for="usuario">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          v-model="user.nombre"
        />
      </div>
      <div class="form-group">
        <label for="usuario">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          v-model="user.apellido"
        />
      </div>
      <div class="form-group">
        <label for="usuario">Email</label>
        <input
          type="email"
          class="form-control"
          id="usuario"
          aria-describedby="emailHelp"
          v-model="user.email"
        />
      </div>

      <button type="submit" class="btn btn-primary">Registro</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      user: {
        usuario: "",
        password: "",
        nombre: "",
        apellido: "",
        email: "",
        rol: "usuario"
      }
    };
  },
  methods: {
    register() {
      this.$store
        .dispatch("registerUser", this.user)
        .then(() => {
          this.$router.push({ path: "/login" });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    }
  }
};
</script>

<style>
</style>