<template>
  <div class="container">
    <div v-if="modo == 'new'">
      <h2>Creación de Personajes</h2>
    </div>

    <div v-if="modo == 'edit'">
      <h2>Edición de Personajes</h2>
    </div>

    <form id="characterForm">
      <basicInformation
        :nombre="nombre"
        :characterFields="character_fields"
        :characterTypes="character_types"
        :idTipoPersonaje="id_tipo_personaje"
        :modo="modo"
      ></basicInformation>

      <div v-if="modo == 'edit'">
        <h4>Los ataques que tiene {{nombre}} son:</h4>

        <ul v-for="att in allUserAttacks" :key="att.id_ataque">
          <li>{{att.nombre_ataque}}</li>
        </ul>
      </div>

      <br />

      <div v-if="character_fields.energia">
        <div v-if="modo == 'new'">
          <h3>Elija ataques en base a la energia de su personaje, la cual es {{character_fields.energia}}</h3>
        </div>

        <div v-if="modo == 'edit'">
          <h3>Elija los nuevos ataques del personaje {{nombre}}</h3>
          <p
            class="blockquote-footer"
          >Tenga en cuenta que sólo se pueden elegir ataques que consuman menos de {{character_fields.energia}} de energía</p>
        </div>
        <div class="col-md-12" style="padding-left: 0px">
          <h4>Lista de ataques</h4>
          <div
            class="ataques"
            v-for="att in filteredAttacks"
            :value="att.id_ataque"
            :key="att.id_ataque"
          >
            <p>{{att.nombre_ataque}} - Requiere: {{att.energia_requerida}} de energia</p>
            <input :value="att.id_ataque" v-model="selectedAttacks" type="checkbox" />
          </div>
        </div>
      </div>
      <div>
        <div class="modal-footer">
          <div v-if="modo == 'new'">
            <button
              id="mainButton"
              type="submit"
              class="btn btn-success"
              @click="createCharacter"
            >Crear personaje</button>
          </div>

          <div v-if="modo == 'edit'">
            <button
              id="mainButton"
              type="submit"
              class="btn btn-success"
              @click="editCharacter"
            >Guardar cambios</button>
          </div>
          <router-link to="/" class="btn btn-primary">Volver</router-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import jQuery from "jquery";
import BasicInformation from "../abm_personajes/BasicInformation";
export default {
  name: "ABMCharacters",
  props: ["modo", "id_personaje"],
  components: {
    basicInformation: BasicInformation
  },
  data() {
    return {
      attacks: [],
      allUserAttacks: [],
      selectedAttacks: [],
      mode: this.modo,
      character_types: [],
      level: 1,
      experiencia: 0,
      id_tipo_personaje: 0,
      nombre: "",
      character_fields: {
        vida: 0,
        energia: 0,
        defensa: 0,
        evasion: 0
      },
      checkAttacks: [],
      user: null
    };
  },
  created() {
    this.obtenerAtaques();
    if (this.modo == "edit") {
      this.setearModoEdicion();
    }
  },
  mounted() {
    this.obtenerTiposPersonajes();
  },
  computed: {
    filteredAttacks() {
      return this.attacks.filter(
        atk => atk.energia_requerida <= this.character_fields.energia
      );
    }
  },
  methods: {
    obtenerAtaques() {
      this.$store
        .dispatch("getAllAttacks")
        .then(res => {
          this.attacks = res.data;
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    setearModoEdicion() {
      this.$store
        .dispatch("getCharacter", this.id_personaje)
        .then(res => {
          this.mapearPersonaje(res);
          this.obtenerAtaquesPersonaje();
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: "Error del personaje: " + err.response.data }
          });
        });
    },
    obtenerTiposPersonajes() {
      this.$store
        .dispatch("getAllCharactersTypes")
        .then(res => {
          this.character_types = res;
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    mapearPersonaje(res) {
      this.nombre = res.nombre;
      this.id_tipo_personaje = res.id_tipo_personaje;
      this.character_fields.vida = res.vida;
      this.character_fields.energia = res.energia;
      this.character_fields.defensa = res.defensa;
      this.character_fields.evasion = res.evasion;
    },
    obtenerAtaquesPersonaje() {
      this.$store
        .dispatch("getAttacksOfCharacter", {
          id_personaje: this.id_personaje
        })
        .then(resp => {
          this.setAtaquesPersonaje(resp);
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: {
              mensaje:
                "Error de los ataques del personaje: " + err.response.data
            }
          });
        });
    },
    setAtaquesPersonaje(resp) {
      var id_ataques = [];
      resp.data.forEach(function(element) {
        id_ataques.push(element.id_ataque);
      });
      var not_user_attacks = [];
      this.attacks.forEach(element => {
        if (!id_ataques.includes(element.id_ataque)) {
          not_user_attacks.push(element);
        } else {
          this.allUserAttacks.push(element);
        }
      });
      this.attacks = not_user_attacks;
    },
    createCharacter: function(e) {
      e.preventDefault();
      jQuery("#mainButton").append('<i class="fas fa-spinner fa-spin"></i>');
      jQuery("#mainButton").attr("disabled", true);
      this.$store.dispatch("getUser").then(res => {
        var character = this.mapearObjetoPersonaje();
        character.id_usuario = res.id_usuario;
        this.guardarPersonaje(character);
      });
    },
    mapearObjetoPersonaje() {
      var character = {};
      character.nombre = this.nombre;
      character.vida = this.character_fields.vida;
      character.energia = this.character_fields.energia;
      character.defensa = this.character_fields.defensa;
      character.evasion = this.character_fields.evasion;
      character.id_tipo_personaje = this.id_tipo_personaje;
      character.id_nivel = this.level;
      character.experiencia = this.experiencia;
      character.attacks = this.selectedAttacks;
      return character;
    },
    guardarPersonaje(character) {
      this.$store
        .dispatch("createCharacter", character)
        .then(() => {
          this.$router.push({
            path: `/my-characters/${character.id_usuario}`
          });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    editCharacter() {
      var updateAttacks = {
        id_personaje: this.id_personaje,
        attacks: this.selectedAttacks
      };
      jQuery("#mainButton").append('<i class="fas fa-spinner fa-spin"></i>');
      this.$store
        .dispatch("insertNewAttacksOfCharacters", updateAttacks)
        .then(() => {
          this.$router.go();
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    }
  }
};
</script>

<style>
@media (max-width: 576px) {
  .container h2 {
    font-size: 25px;
  }
  .container h3 {
    font-size: 17px;
  }
}
.container {
  margin-top: 20px;
}
.container input {
  margin-bottom: 20px;
}
.container button {
  margin-top: 20px;
}

.container select {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}
.inputFields {
  margin-top: 20px;
}
.selectInput {
  display: flex;
  flex-direction: column;
}
.supercaja {
  display: flex;
}
.caja {
  flex-grow: 1;
  margin-right: 10px;
}
.ataques {
  display: flex;
}
.ataques input {
  align-self: center;
  margin: 0 0 13px 10px;
}
</style>