<template>
  <div class="container">
    <h2>Ataques</h2>
    <br />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de ataque</th>
            <th scope="col">Experiencia requerida</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="atk in allAtaques" :key="atk.id_ataque">
            <th scope="row">{{atk.id_ataque}}</th>
            <td>{{atk.nombre_ataque}}</td>
            <td>{{atk.energia_requerida}}</td>
            <td style="display: flex; justify-content: center;">
              <button
                class="btn btn-success"
                style="margin-right: 10px !important;"
                @click="openEditModal(atk)"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" @click="openDeleteModal(atk)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success" @click="openCreateModal">Crear ataque</button>
      <router-link to="/" class="btn btn-primary">Volver</router-link>
    </div>
    <div id="prueba">{{received}}</div>

    <!-- Modal Component for Create and Modify attacks -->
    <modalAM v-if="showModal" :isEdit="isEdit" :attack="newAttack" @close="closeModalAM"></modalAM>


    <div
      class="modal fade"
      id="modalDelete"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalDeleteLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDeleteLabel">¿Eliminar ataque?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>¿Está seguro de eliminar el ataque {{newAttack.nombre_ataque}}?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" @click="deleteAttack">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  


  </div>
</template>

<script>
import jQuery from "jquery";
import ModalAM from '../ataques/ModalAM';
export default {
  name: "Attacks",
  data() {
    return {
      allAtaques: [],
      newAttack: {
        id_ataque: null,
        nombre_ataque: "",
        energia_requerida: 0
      },
      showModal: false,
      isEdit: false,
      message: "TESTESTEST",
      received: ""
    };
  },
  components: {
    modalAM: ModalAM
  },
  sockets: {
    connect: function() {
    },
    message: function(data) {
      this.received = data.id;
    }
  },
  created() {
    var isAdmin = this.$store.getters.isAdmin;
    if (!isAdmin) {
      this.$router.push({ path: "/profile" });
    }
  },
  mounted() {
    this.$store
      .dispatch("getAllAttacks")
      .then(res => {
        this.allAtaques = res.data;
      })
      .catch(err => {
        jQuery("#modal").modal("hide");
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  },
  computed: {},
  methods: {
    closeModalAM() {
      this.showModal = false;
      location.reload()
    },
    deleteAttack() {
      this.$store
        .dispatch("deleteAttack", this.newAttack.id_ataque)
        .then(() => {
          this.$router.go();
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    openEditModal(ataque) {
      this.isEdit = true;
      this.newAttack = ataque;
      this.showModal = true;
      // jQuery("#exampleModal").modal("show");
    },
    openCreateModal() {
      this.isEdit = false;
      this.newAttack.id_ataque = null;
      this.newAttack.nombre_ataque = "";
      this.newAttack.energia_requerida = 0;
      this.showModal = true;
      // jQuery("#exampleModal").modal("show");
    },
    openDeleteModal(ataque) {
      this.newAttack = ataque;
      jQuery("#modalDelete").modal("show");
    },
    test() {
      this.$socket.emit("message", {
        message: this.message
      });
    }
  }
};
</script>

<style>
@media (max-width: 576px) {
  .table-responsive th,
  .table-responsive td {
    font-size: 13px;
    text-align: center;
  }
  .table-responsive button {
    width: 30px;
    height: 30px;
    padding: 1px;
  }
}

.btn {
  margin-right: 20px;
}

.modal-footer {
  display: flex;
  justify-content: space-between !important;
}
</style>