<template>
<div class="d-flex flex-column align-items-center">
	<h2>Seleccione la partida que desea cargar</h2>
	<select name="selectedPartida" class="form-control col-md-12">
				<c:forEach items="${partidas}" var="partida">
					<option value="${partida.id_partida}">
						<c:out value="${partida.descripcion}" />
					</option>
				</c:forEach>
	</select>
	<div class="botones">
				<button name="cargar" class="btn btn-success" type="submit">Cargar
					partida</button>
				<router-link to="/" class="btn btn-light">Volver</router-link>
	</div>
</div>
</template>

<script>
	export default {

	}
</script>

<style>

</style>