<template>
  <div class="container">
    <h2>Personajes</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Vida</th>
            <th scope="col">Energia</th>
            <th scope="col">Defensa</th>
            <th scope="col">Evasion</th>
            <th scope="col">Nivel</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="char in characters" :key="char.id_personaje">
            <th>{{char.nombre}}</th>
            <td>{{char.vida}}</td>
            <td>{{char.energia}}</td>
            <td>{{char.defensa}}</td>
            <td>{{char.evasion}}</td>
            <td>{{char.id_nivel}}</td>
            <td>
              <router-link
                :to="{path: '/character/edit/' + char.id_personaje}"
                class="btn btn-success"
              >
                <i class="fa fa-edit"></i>
              </router-link>
              <button class="btn btn-danger botonBorrar" @click="openDeleteModal(char)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <router-link to="/character/new" class="btn btn-success">Crear Personaje</router-link>
      <router-link to="/" class="btn btn-primary">Volver</router-link>
    </div>
    <div
      class="modal fade"
      id="modalDelete"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalDeleteLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDeleteLabel">¿Eliminar Personaje?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>¿Está seguro de eliminar el personaje {{personajeABorrar.nombre}}?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            <button type="button" class="btn btn-danger" @click="deleteCharacter">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
export default {
  name: "Characters",
  props: ["id_usuario"],
  data() {
    return {
      characters: [],
      personajeABorrar: {
        id_personaje: null,
        nombre: ""
      }
    };
  },
  created() {
    this.$store
      .dispatch("getAllCharactersOfUser", this.id_usuario)
      .then(res => {
        this.characters = res;
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  },
  methods: {
    openDeleteModal(pj) {
      this.personajeABorrar = pj;
      jQuery("#modalDelete").modal("show");
    },
    deleteCharacter() {
      this.$store
        .dispatch("deleteCharacter", this.personajeABorrar.id_personaje)
        .then(() => {
          this.$router.go();
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    }
  }
};
</script>

<style>
.table-responsive th,
.table-responsive td {
  text-align: center;
}
@media (max-width: 576px) {
  .table-responsive th,
  .table-responsive td {
    font-size: 13px;
  }
  .table-responsive button {
    width: 30px;
    height: 30px;
    padding: 1px;
  }
}

.btn {
  margin: 0 !important;
}

.table-responsive .botonBorrar {
  margin-left: 10px !important;
}
</style>