<template>
  <div class="container ganador">
    <h1>La pelea ha terminado</h1>
    <h2>El ganador de la pelea es: {{winner.nombre}}</h2>
  </div>
</template>

<script>
export default {
  props: ["id_pelea"],
  created() {
    this.$store
      .dispatch("getFight", this.id_pelea)
      .then(pelea => {
        var id_personaje_ganador = 0;
        if (pelea.vida_personaje1 < pelea.vida_personaje2) {
          id_personaje_ganador = pelea.id_personaje2;
        }
        if (pelea.vida_personaje1 > pelea.vida_personaje2) {
          id_personaje_ganador = pelea.id_personaje1;
        }

        this.$store
          .dispatch("getCharacter", id_personaje_ganador)
          .then(character => {
            this.winner = character;
          })
          .catch(error => {
            this.$router.push({
              name: "Error",
              params: { mensaje: "Error: " + error.response.data }
            });
          });
      })
      .catch(error => {
        this.$router.push({
          name: "Error",
          params: {
            mensaje: "Pelea no encontrada. Error: " + error.response.data
          }
        });
      });
  },
  data() {
    return {
      winner: {}
    };
  }
};
</script>

<style>
.ganador {
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.3);
  background-color: #27de27;
  color: #311a8c;
  padding: 30px;
  text-align: center;
}
</style>