<template>
  <div>
    <div class="row" style="margin-top:30px;">
      <div class="col-md-4" v-if="allDataLoaded">
        <personaje :idPeleador="fight.id_personaje1" :fightData="characterData"></personaje>
      </div>

      <div class="col-md-4" v-if="allDataLoaded">
        <turnos :pelea="fight"></turnos>
      </div>

      <div class="col-md-4" v-if="allDataLoaded">
        <personaje :idPeleador="fight.id_personaje2" :fightData="enemyData"></personaje>
      </div>
    </div>
  </div>
</template>

<script>
import Turnos from "../pelea/Turnos.vue";
import Peleador from "../pelea/Peleador.vue";
export default {
  props: ["id_pelea"],
  data() {
    return {
      fight: {},
      characterData: {
        currentLife: 0,
        currentEnergy: 0
      },
      enemyData: {
        currentLife: 0,
        currentEnergy: 0
      },
      attacks: [],
      allDataLoaded: false
    };
  },
  components: {
    turnos: Turnos,
    personaje: Peleador
  },
  sockets: {
    pelea_ataque_response: function() {
      this.recargarPagina();
    },
    pelea_defensa_response: function() {
      this.recargarPagina();
    }
  },
  mounted() {
    this.$store
      .dispatch("getFight", this.id_pelea)
      .then(currentFight => {
        this.fight = currentFight;
        if (this.murioPersonaje(this.fight)) {
          this.terminarPelea(this.fight);
        } else {
          this.actualizarStatusPersonajes(currentFight);
          this.allDataLoaded = true;
        }
      })
      .catch(error => {
        this.$router.push({
          name: "Error",
          params: { mensaje: error.response.data }
        });
      });
  },
  methods: {
    terminarPelea(pelea) {
      this.darExperienciaAlGanador(pelea)
      this.$store
        .dispatch("finishFight", pelea.id_pelea)
        .then(() => {
          this.$router.push({ path: "/combateterminado/" + pelea.id_pelea });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    murioPersonaje(pelea) {
      if (pelea.vida_personaje1 <= 0 || pelea.vida_personaje2 <= 0) {
        return true;
      } else {
        return false;
      }
    },
    darExperienciaAlGanador(pelea){
      if (pelea.turno == 2)
      {
        this.levelupCharacter(pelea.id_personaje1);
      }
      else
      {
        this.levelupCharacter(pelea.id_personaje2);
      }
    },
    levelupCharacter(idPeleador){
      this.$store.dispatch("levelUpCharacter", idPeleador);
    },
    actualizarStatusPersonajes(currentFight) {
      this.characterData.currentLife = currentFight.vida_personaje1;
      this.characterData.currentEnergy = currentFight.energia_personaje1;
      this.enemyData.currentLife = currentFight.vida_personaje2;
      this.enemyData.currentEnergy = currentFight.energia_personaje2;
    },
    recargarPagina() {
      this.$router.go();
    }
  }
};
</script>

  <style>
.botones {
  display: flex;
  justify-content: space-evenly;
}
.botones button {
  width: 120px;
}

.columnaMedia .elegirAtaque {
  margin-top: 20px;
}

.logueo {
  margin-top: 10px;
  height: 200px;
  border: 1px solid black;
  overflow-y: scroll;
}

.logueo .msj-logueo {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid grey;
}
</style>