<template>
  <div class="container">
    <div style="margin-bottom: 20px;">
      <h2>Elija a su personaje</h2>
      <select name="idPersonaje" class="form-control col-md-12" v-model="selectedCharacter">
        <option disabled value="0">Seleccione un personaje</option>
        <option
          v-for="per in characters"
          :value="per.id_personaje"
          :key="per.id_personaje"
        >{{per.nombre}}</option>
      </select>
    </div>
    <h2>Lista de partidas activas</h2>
    <div v-if="allLobbies.length != 0 && selectedCharacter != 0" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de la partida</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="lob in allLobbies" :key="lob.id_lobbie">
            <th scope="row">{{lob.id_lobbie}}</th>
            <td>{{lob.descripcion_lobbie}}</td>
            <td>
              <button class="btn btn-success" @click="unirse(lob)">
                <i class="fas fa-sign-in-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="allLobbies.length == 0">
      <h5>
        No existen partidas creadas, creá una
        <router-link to="/torneopersonaje" class>acá</router-link>
      </h5>
    </div>
  </div>
</template>

<script>
export default {
  name: "Lobbies",
  data() {
    return {
      allLobbies: [],
      usuario: {},
      characters: [],
      selectedCharacter: 0
    };
  },
  created() {
    this.$store
      .dispatch("getLobbies")
      .then(res => {
        this.allLobbies = res.data;
        this.$store.dispatch("getUser").then(respo => {
          this.usuario = respo;
          this.$store
            .dispatch("getAllCharactersOfUser", this.usuario.id_usuario)
            .then(res => {
              this.characters = res;
            })
            .catch(err => {
              this.$router.push({
                name: "Error",
                params: { mensaje: err.response.data }
              });
            });
        });
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  },
  sockets: {
    connect: function() {
    },
    pelea_union: function() {
      
    }
  },
  methods: {
    unirse(lobby) {
      const app = this;
      const body = {
        id_pelea: lobby.id_pelea,
        id_personaje2: this.selectedCharacter,
        id_usuario2: this.usuario.id_usuario
      }

      this.$store.dispatch("updateFightLobby",body)
      .then(() => {
        setTimeout(function(){ 
          app.$socket.emit("pelea_union", {
            message: "El usuario: " + app.usuario.usuario + " se unió a la pelea",
            current_lobby: lobby
          });
          var route = '/combate/' + lobby.id_pelea;
          app.$router.push({ path: route });
        }, 3000);
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      })

      
      

    }
  }
};
</script>

<style>
@media (max-width: 576px) {
  .table-responsive th,
  .table-responsive td {
    font-size: 13px;
    text-align: center;
  }
  .table-responsive button {
    width: 30px;
    height: 30px;
    padding: 1px;
  }
}
</style>