<template>
<div>
	<div class="botones s d-flex flex-column align-items-center">
			<div class="p-2">
				<router-link to="/torneopersonaje" class="btn btn-success">Crear nuevo Torneo</router-link>
			</div>
			<div class="p-2">
				<router-link to="/lobby" class="btn btn-success">Unirse a un Torneo</router-link>
			</div>
			<!-- <div class="p-2">
				<router-link to="/cargatorneo" class="btn btn-success">Cargar Partida</router-link>
			</div> -->
			<div class="p-2">
				<router-link to="/" class="btn btn-light">Volver</router-link>
			</div>
	</div>
</div>
</template>

<script>
	export default {

	}
</script>

<style>
.botones {
	margin-top: 20px;
}
.botones a {
	width: 200px;
}
</style>