<template>
  <div>
    <header-pagina></header-pagina>
    <div class="container">
      <div class="contenedorMenu">
        <item
          :titulo="tituloPersonaje"
          :descripcion="descripcionPersonaje"
          :ruta="rutaPersonajes"
          :descBoton="descBotonPersonajes"
        ></item>
        <item
          :titulo="tituloTorneo"
          :descripcion="descripcionTorneo"
          :ruta="rutaTorneo"
          :descBoton="descBotonTorneo"
        ></item>
        <item
          v-if="loggedIn && isAdmin"
          :titulo="tituloAtaques"
          :descripcion="descripcionAtaques"
          :ruta="rutaAtaques"
          :descBoton="descBotonAtaques"
        ></item>
      </div>
      <menu-responsive :ruta="rutaPersonajes"></menu-responsive>
    </div>
  </div>
</template>

<script>
import ItemMenu from "../menu/ItemMenu.vue";
import HeaderPagina from "../menu/HeaderPagina.vue";
import MenuResponsive from "../menu/MenuResponsive.vue";
export default {
  name: "Menu",
  props: [],
  data() {
    return {
      usuario: {},
      tituloPersonaje: "Agregar Personajes",
      tituloTorneo: "Torneo",
      tituloAtaques: "Ataques",
      descripcionPersonaje:
        "Agregar personajes que son tuyos, para poder enfrentarte a los grandes villanos de Guerra!",
      descripcionTorneo:
        "Cree un torneo nuevo contra otro jugador o unase a una partida existente",
      descripcionAtaques:
        "Función administradora. Agregar ataques para poder ser seleccionado por los usuarios en la creación de sus personajes.",
      rutaPersonajes: "",
      rutaTorneo: "/menutorneo",
      rutaAtaques: "/attacks",
      descBotonPersonajes: "Personajes",
      descBotonTorneo: "Torneo",
      descBotonAtaques: "Ataques"
    };
  },
  components: {
    item: ItemMenu,
    headerPagina: HeaderPagina,
    menuResponsive: MenuResponsive
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    }
  },
  created() {
    this.$store
      .dispatch("getUser")
      .then(res => {
        this.usuario = res;
        this.rutaPersonajes = "my-characters/" + this.usuario.id_usuario;
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  },
  methods: {}
};
</script>

<style>
@media (max-width: 576px) {
  .contenedorMenu {
    display: none !important;
  }
}

.contenedorMenu {
  display: flex;
  justify-content: center;
}
</style>