<template>
  <div class="torneo-personaje d-flex flex-column align-items-center">
    <h1>Elija a su personaje</h1>
    <select name="idPersonaje" class="form-control col-md-12" v-model="selectedCharacter">
      <option disabled value="0">Seleccione un personaje</option>
      <option
        v-for="per in characters"
        :value="per.id_personaje"
        :key="per.id_personaje"
      >{{per.nombre}}</option>
    </select>

    <label for="lobby">Ingrese la descripcion de su partida</label>
    <input type="text" id="lobby" name="lobby" class="form-control" v-model="lobbyName" />
    <div class="mensajes-sockets" v-if="createdLobby">
      <h5>Su partida ha sido creada, espere mientras se une un jugador...</h5>
      <h5>{{union}}</h5>
    </div>
    <div class="botones">
      <button style="width:150px;" class="btn btn-success" @click="getCharacter">Seleccionar</button>
    </div>
    <!--     <div class="botones">
      <button class="btn btn-success" @click="probarPelea">Pelea de prueba</button>
    </div>-->
    <div class="p-2">
      <router-link style="width:150px;" to="/" class="btn btn-light">Volver</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Characters",
  data() {
    return {
      characters: [],
      user: {},
      selectedCharacter: 0,
      lobbyName: "",
      createdLobby: false,
      union: ""
    };
  },
  sockets: {
    connect: function() {
    },
    pelea_union_response: function(data) {
      this.union = data.message;
      if (data.current_lobby) {
        this.$router.push({ path: `/combate/${data.current_lobby.id_pelea}` });
      }
    }
  },
  created() {
    this.$store
      .dispatch("getUser")
      .then(res => {
        this.user = res;
        this.$store
          .dispatch("getAllCharactersOfUser", this.user.id_usuario)
          .then(res => {
            this.characters = res;
          })
          .catch(err => {
            this.$router.push({
              name: "Error",
              params: { mensaje: err.response.data }
            });
          });
      })
      .catch(err => {
        this.$router.push({
          name: "Error",
          params: { mensaje: err.response.data }
        });
      });
  },

  methods: {
    getCharacter() {
      this.$store
        .dispatch("retrieveCharacter", this.selectedCharacter)
        .then(res => {
          const pelea_lobby = {
            id_personaje1: res.data.id_personaje,
            vida_personaje1: res.data.vida,
            energia_personaje1: res.data.energia,
            descripcion_lobbie: this.lobbyName,
            id_usuario1: this.user.id_usuario
          };
          this.$store
            .dispatch("createNewLobbie", pelea_lobby)
            .then(() => {
              this.createdLobby = true;
            })
            .catch(err => {
              this.$router.push({
                name: "Error",
                params: { mensaje: err.response.data }
              });
            });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    },
    probarPelea() {
      this.$store
        .dispatch("retrieveCharacter", this.selectedCharacter)
        .then(() => {
          this.$router.push({ path: "/iniciarcombate" });
        })
        .catch(err => {
          this.$router.push({
            name: "Error",
            params: { mensaje: err.response.data }
          });
        });
    }
  }
};
</script>

<style>
.torneo-personaje h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.torneo-personaje select,
.torneo-personaje input {
  width: 300px;
  margin-bottom: 10px;
}

.mensajes-sockets {
  background-color: #36cc36;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .mensajes-sockets {
    padding-top: 15px;
    margin: 10px;
  }
  .mensajes-sockets h5 {
    font-size: 16px;
  }
  .torneo-personaje h1 {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
</style>