<template>
	<div>
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">

				<div class="modal-header">
					<div v-if="!isEdit">
						<h5 class="modal-title" id="">Agregar ataque</h5>
					</div>
					<div v-else>
						<h5 class="modal-title" id="">Editar ataque</h5>
					</div>
				</div>

				<div class="modal-body">
					<form>
						<label for="Nombre">Nombre del ataque</label>
						<input type="text" class="form-control" id="Nombre" aria-describedby="emailHelp" v-model="attack.nombre_ataque" />

						<label for="Experiencia">Expeciencia necesaria</label>
						<input type="number" class="form-control" id="Experiencia" aria-describedby="emailHelp" v-model="attack.energia_requerida"/>
					</form>
				</div>

				<div class="modal-footer">
					<slot name="footer">
						<button type="button" class="btn btn-secondary" @click="$emit('close')">Volver</button>
						<button type="button" class="btn btn-primary" @click="saveAttack">Guardar</button>
					</slot>
				</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		name: 'ModalAltaMod',
		props: ['isEdit','attack'],
		data(){
			return {
				newAttack: this.attack
			}
		},
		methods:{
			saveAttack(){
				if (!this.isEdit) {
					this.$store
						.dispatch("createNewAttack", this.newAttack)
						.then( () => {
							this.$router.go();
						})
						.catch(err => {
							this.$router.push({
								name: "Error",
								params: { mensaje: err.response.data }
							});
						});
				} else {
				this.$store
					.dispatch("updateAttack", this.newAttack)
					.then( () => {
						this.$router.go();
					})
					.catch(err => {
						this.$router.push({
							name: "Error",
							params: { mensaje: err.response.data }
						});
					});
				}
			}
		}
	};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>