<template>
  <div v-cloak class="personaje">
    <h2>{{fighter.nombre}}</h2>
    <br />
    <p>Vida</p>
    <input
      name="vida_personaje"
      type="text"
      class="form-control"
      :value="fightData.currentLife"
      disabled
    />
    <br />
    <p>Energia</p>
    <input
      name="energia_personaje"
      type="text"
      class="form-control"
      :value="fightData.currentEnergy"
      disabled
    />
    <br />
    <p>Defensa</p>
    <input name="defensa1" type="text" class="form-control" :value="fighter.defensa" disabled />
    <br />
    <p>Evasion</p>
    <input name="evasion1" type="text" class="form-control" :value="fighter.evasion" disabled />
  </div>
</template>

<script>
export default {
  props: ["idPeleador", "fightData"],
  data() {
    return {
      fighter: {}
    };
  },
  mounted() {
    this.obtenerPersonaje(this.idPeleador);
  },
  methods: {
    obtenerPersonaje(idPeleador) {
      this.$store
        .dispatch("getCharacter", idPeleador)
        .then(character => {
          this.fighter = character;
        })
        .catch(error => {
          this.$router.push({
            name: "Error",
            params: { mensaje: error.response.data }
          });
        });
    }
  }
};
</script>
	[v-cloak] > * { display:none !important }
	[v-cloak]::before { content: "Cargando personajes..." }
<style>
@media (max-width: 576px) {
  .personaje h2 {
    font-size: 20px;
    text-align: center;
  }
  .personaje p {
    text-align: center;
  }
  .personaje input {
    width: 90%;
    margin: 0 auto;
  }
}
</style>