<template>
  <div class="turnos">
    <h2>Turno</h2>
    <br />
    <input
      name="nombreTurno"
      type="text"
      class="form-control"
      :value="pelea.turno == 1 ? character.nombre : enemy.nombre"
      disabled
    />

    <div v-if="attacks.length > 0 && esTuTurno" class="elegir-ataque">
      <h2>Elegir Ataque</h2>
      <select name="attacks" class="form-control col-md-12" v-model="selectedAttack">
        <option
          v-for="att in attacks"
          :value="att.id_ataque"
          :key="att.id_ataque"
        >{{att.nombre_ataque}} - Requiere: {{att.energia_requerida}} de energia</option>
      </select>
    </div>
    <div v-if="!esTuTurno" class="mensajes-sockets">
      <h5>Esperando al contrincante...</h5>
    </div>

    <div class="botones" v-if="esTuTurno" style="margin-bottom: 20px;">
      <div v-if="attacks.length > 0">
        <button name="atacar" @click="atacar" class="btn btn-info">Atacar</button>
      </div>

      <button name="defender" @click="defender" class="btn btn-success btn-default">Defender</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["pelea"],
  data() {
    return {
      selectedAttack: 0,
      enemy: this.$store.state.enemy,
      character: this.$store.state.character,
      attacks: [],
      characterEnergy: {
        id_character: 0,
        energy: 0
      },
      esTuTurno: false,
      turn: null
    };
  },
  created() {
    this.setEsTuTurno();
    this.obtenerAtaquesPorEnergiaRestante();
    this.obtenerPersonaje();
    this.obtenerEnemigo();
  },
  methods: {
    setEsTuTurno() {
      this.$store.dispatch("getUser").then(user => {
        if (
          (this.pelea.turno == 1 &&
            this.pelea.id_usuario1 == user.id_usuario) ||
          (this.pelea.turno == 2 && this.pelea.id_usuario2 == user.id_usuario)
        ) {
          this.esTuTurno = true;
        }
      });
    },
    obtenerAtaquesPorEnergiaRestante() {
      this.setPersonajeYEnergiaActual();
      this.$store
        .dispatch("getAttacksByCharacterEnergy", this.characterEnergy)
        .then(res => {
          this.attacks = res.data;
        });
    },
    setPersonajeYEnergiaActual() {
      this.characterEnergy.id_character =
        this.pelea.turno == 1
          ? this.pelea.id_personaje1
          : this.pelea.id_personaje2;
      this.characterEnergy.energy =
        this.pelea.turno == 1
          ? this.pelea.energia_personaje1
          : this.pelea.energia_personaje2;
    },
    obtenerPersonaje() {
      this.$store
        .dispatch("getCharacter", this.pelea.id_personaje1)
        .then(char => {
          this.character = char;
        });
    },
    obtenerEnemigo() {
      this.$store
        .dispatch("getCharacter", this.pelea.id_personaje2)
        .then(char => {
          this.enemy = char;
        });
    },
    atacar() {
      if (!this.personajeEvadioAtaque()) {
        this.$store.dispatch("getAttack", this.selectedAttack).then(res => {
          this.$store.dispatch("attack", this.setObjetoAtaque(res,0)).then(() => {
            this.cambiarTurno();
            this.emitirMensaje("pelea_ataque", "El ataque tuvo efecto");
            location.reload();
          });
        });
      } else {
        this.$store.dispatch("getAttack", this.selectedAttack).then(res => {
          this.$store.dispatch("attack", this.setObjetoAtaque(res,1)).then(() => {
            this.cambiarTurno();
            this.emitirMensajeEvadido();
          });
        });
      }
    },
    emitirMensaje(nombreSocket, mensaje) {
      this.$socket.emit(nombreSocket, {
        message: mensaje
      });
    },
    emitirMensajeEvadido() {
      if (window.confirm("El ataque fue evadido")) {
        this.emitirMensaje("pelea_ataque", "El ataque fue evadido");
        location.reload();
      } else {
        this.emitirMensaje("pelea_ataque", "El ataque fue evadido");
        location.reload();
      }
    },
    personajeEvadioAtaque() {
      var random = Math.random() * 100;
      if (this.pelea.turno == 1) {
        return random <= this.enemy.evasion * 0.7;
      } else {
        return random <= this.character.evasion * 0.7;
      }
    },
    defender() {
      this.$store.dispatch("defense", this.setObjetoDefensa()).then(() => {
        this.cambiarTurno();
        this.emitirMensaje("pelea_defensa", "Ha defendido");
        location.reload();
      });
    },
    setObjetoAtaque(ataque,evadio) {
      var fightObj = {};
      fightObj.id_fight = this.pelea.id_pelea;
      fightObj.attack_energy = ataque.energia_requerida;
      fightObj.evadio = evadio;
      return fightObj;
    },
    setObjetoDefensa() {
      var fightObj = {};
      fightObj.id_fight = this.pelea.id_pelea;
      fightObj.character_defense =
        this.pelea.turno == 1 ? this.character.defensa : this.enemy.defensa;
      fightObj.character_life =
        this.pelea.turno == 1 ? this.character.vida : this.enemy.vida;
      fightObj.character_energy =
        this.pelea.turno == 1 ? this.character.energia : this.enemy.energia;
      return fightObj;
    },
    cambiarTurno() {
      this.$store.dispatch("changeTurn", this.pelea.id_pelea);
    }
  }
};
</script>

<style>
.elegir-ataque h2 {
  margin-top: 20px;
}

.turnos .mensajes-sockets {
  margin-top: 20px;
  background-color: #3672cc;
}
@media (max-width: 576px) {
  .turnos h2 {
    text-align: center;
    margin-top: 20px;
  }
  .turnos input {
    width: 90%;
    margin: 0 auto;
  }

  .turnos select {
    width: 90%;
    margin: 0 auto;
  }
}
</style>